@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #1c2738; /* bg = background*/
  --body-color: #000000;
  --primary-color: #ffffff;
  --secondary-color: #a1123d;
  --third-color: #0d54be;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 2px solid red; */
  
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
}
html {
  scroll-padding-top: 49.5px; /* height of sticky header */
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(37, 118, 172, 0.1);
  height: 50px;
  border-bottom: 3px solid #2f95c4;
}

nav h1{
  color: var(--primary-color);
}
nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  
}
a.active {
	color: var(--secondary-color)
}

nav ul{
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu{ /* hides the burger menu  and moves the about, skills, projects contacts to the right*/
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* hero section */
.hero{ /*flex box*/
  /* sizing */
  width: auto;
  height: 100vh;

  /*flexbox stuff*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*Text styles */
  text-align: center;
  color: var(--primary-color);

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(blockchain.gif); 
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  
  
}

.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;

  /*padding and margins */
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  /*border styles */
  border: 2px solid rgb(253, 252, 252);
}
.hero .btn:hover {
  background-color: rgb(35, 139, 139);
  color: white;
  cursor: pointer;
}

/*Hero about me section */
.title{
  width: 40rem;
  padding: .05rem;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
}
.bio-title {
  font-size: 1.5em;
}
.bio-title b {

  color: rgb(207, 14, 95);
}
.bio-textf {
  font-size: 1.5em;
}
/* about sections */
.about {
  color: rgb(255, 255, 255);
  padding: 1rem 6rem;
  padding-bottom: 100px;
  background-color: rgba(61, 59, 59, 0.247);
  text-align: center; /* sets picture of my self to the center */
}                     /* sets picture of my self to the center */ /*akdfja;lkjfd;kaljfa;klfja;lkfj;lkajf;lka*/
.about h1{
  margin-bottom: var(--bottom-margin);
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  text-underline-offset: .5em;
}

/*for the intuitive, fast, proactive and problem solving */
.self_icon {
  width: 10rem;
  height: 10rem;
}

.intu{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  height: auto;
  margin: 0 50px 0 50px; 
}

.fast{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: 0 50px 0 50px; 
}

.proactive{
  vertical-align: top;
  display: inline-block;
  text-align: center; 
  margin: 0 50px 0 50px; 

}

.ProblemSolving {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: 0 50px 0 50px; 

}


.caption{
  display: block;
  font: bold;
  font-size: 27.5px;
  max-width: 100%;
}


.about-images {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px; 
}

.about-images .pro {
  text-align:center;
  display: inline-block;
  font: 12pt;
  border:transparent;
  
  margin-top: 10px;  
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  height: auto;
  
  
  text-size-adjust: auto;
  word-spacing: 0px;
  justify-content: center;
  display: flex;
}



/*pfp of myself & text */
.pfp {
  width: 20rem;
  height: 20rem;
}
.myself {
  /*border: 2px solid rgb(253, 252, 252);*/
  margin-top: 150px; 
  margin-bottom: 0px; 
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.myself .caption {
  display: block;
  max-width: auto; 
  margin-bottom: 10px;
}
.myself .pro {
  
  display: inline-block;
  max-width: 180px; 
  text-align: center;
}

/*skills section */
.skills {
  color: #ffffff;
  font-size: 30px;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 7rem;

  background-color: rgba(78, 79, 87, 0.322);

}
.skill-header {
  margin-bottom: 7.5rem;
  text-decoration: underline;
  text-underline-offset: .5em;
}
.skills-wrapper img{
  padding: 1.25rem;
}
.icon{
  width: 11.875rem;
  height: 11.25rem;
}
.icon-card{
  background-color: var(--body-color);
  border-radius: 11px;
  box-shadow: 0px 3px 10px var(--primary-shadow);
  margin: 10px;

}

/*project section*/
.projects {
  padding: 32px 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
.project-pic {
  width: 33rem;
  height: 27.5rem;
  text-align: center;
  margin:auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 33rem;
  height: 27.5rem;

  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}
.project-container:hover .overlay{
  opacity: 1;
}

.project-title {
  /*margin-bottom: var(--bottom-margin);*/
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 15px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.projects-title{
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1rem;
  display: block;
}
.project-container {
  text-align: center;
  /*padding: 1rem;*/
  color: var(--primary-color);
  display: inline-block;
  position: relative;
}

.project-details  {
  color: var(--secondary-color);
  font-size: 19px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*
.project-card {
  background-color: #000000;
  border-radius: 11px; 
  box-shadow: 0 3px 6px var(--primary-shadow);
  padding: 5px; 
  margin: 10px;
} */
.project-link {
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;


  width: 140px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 3px solid var(--secondary-color);
}
.projects-container .project-link:hover {
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
}
/*contact form */
.contact {
  padding-top: 5rem;
  background-color: rgb(255, 255, 255);
  padding-bottom: 250px;
  
}
.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  color: rgba(58, 55, 55, 0.904);
  font-weight: bolder;
  font-size: 40px;
  text-decoration: underline;
  text-underline-offset: .5em;
  padding-bottom: 30px;
  
}
.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.9238rem;
  border-radius: 5px;
  /*box-shadow: 0 3px 10px var(--primary-shadow);*/
  
 
  
}
/*.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--third-color);
}*/
.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}
.contact-form-container .input-field {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 1px;
  border: none;
 /* border: 2px outset var(--third-color);*/
  font-size: .975rem;
  outline: none;
  background-color: #888f92;
  color: white;
}
.input-field::placeholder {
  padding: 0.25rem;
  color: #ffffff;
  background-color: #888f92;
}
.submit-btn{
  width: 20%;
  padding: 10px;
  margin: 10px 0;
  color:#ffffff;
  background-color: #888f92;
  border: 3px solid #2f95c4;
  border-radius: 0px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
  margin-left: 500px;
  position: relative;
}
.submit-btn:hover {
  background-color: red;
  /*border: 2px solid var(--third-color);*/
  cursor: pointer;
}

/* Social Icons */

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
  
}

.socicon {
  width: 3.5rem;
  height: 3.5rem;
}

.socia {
  background-color: rgba(28, 102, 151, 0.719);
  margin: 20px;
  padding: 15px;
  
} 

.socicon:before {
	font-family: 'ecoicon';
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
.socicon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}
.socia:before {
	content: "";
}
.hi-icon-effect-5 .socicon {
  box-shadow: 0 0 0 4px rgba(255,255,255,1);
	overflow: hidden;
	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.hi-icon-effect-5a .socicon:hover:before {
	-webkit-animation: toRightFromLeft 0.3s forwards;
	-moz-animation: toRightFromLeft 0.3s forwards;
	animation: toRightFromLeft 0.3s forwards;
}
.hi-icon-effect-5 .socicon:hover {
  background: rgb(43, 214, 214);
	color: #702fa8;
	box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
  transform: translateY(-10px);
}

.hi-icon-effect-5 .socicon:after {
  display: none;
}

@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}

/* scroll function */

.scroll:hover {
  background-color: rgb(43, 214, 214);
  /*border: 2px solid var(--third-color);*/
  cursor: pointer;
}
.scroll-up {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: -5px;

  /*position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;*/
}
.up-arrow {
  width: 3rem;
  height: 3rem;
} 

/* footer section */
footer {
  background-color: #1c2738;
  padding: 1.25rem;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 25px;
}



@media screen and (max-width: 1470px) {
  /*changes reflects on screen with a width of 1920px and below*/
  .self_icon {
    width: 7rem;
    height: 7rem;
  }
  .project-pic {
    width: 28rem;
    height: 22.5rem;
  } 
  .overlay {
    width: 28rem;
    height: 22.5rem;

  }
}


@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
  nav{
    padding: 1.5rem 1rem;
  
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  nav ul li {
    margin: 8px;
  }
  .burger-menu{
    display: block;

    
  }
  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
    height: 37.5rem;
    /*width: 100%;*/
  }

  .title {
    margin-top: -7rem;
    width: 20.5rem;
  }
  .about {
    padding: 1rem 3.5rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .self_icon {
    width: 4rem;
    height: 4rem;
  }
  .intu{
    margin: 0 10px 0 10px; 
  }
  
  .fast{
    margin: 0 10px 0 10px; 
  }
  
  .proactive{
    margin: 0 10px 0 10px; 
  }
  
  .ProblemSolving {
    margin: 0 10px 0 10px; 
  }

  .about h1 {
    text-align: center;
    font-size: 25px;
  }
  .about .pro {
    text-align: center;
    font-size: 9px;
    max-width: 100px;
  }
  .caption{
    font-size: 15px;
  }
  
  .myself .caption {
    font-size: 24px;
  }
  .myself .pro {
    font-size: 12px;
    max-width: 160px;
  }

  .skills{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  .skill-header {
    font-size: smaller;
    margin-bottom: 5rem;
  }
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  } 
  /*
  .project-container {
    width: 20.875rem;
  }*/
  .project-pic {
    width: 20rem;
    height: 11rem;
  } 
  .overlay {
    width: 20rem;
    height: 11rem;

  }

  .contact {
    padding-bottom: 5rem;
  }
  .contact-form-container {
    max-width: 23.75rem;
  }

  .contact h2 {
    font-size: 25px;
  }

  .submit-btn{
    width: 30%;
    border-radius: none;
    margin-left: 245px;
    font-size: 8px;
  }
}
@media screen and (max-width: 420px) {
  .hero { /* 37.5rem */
    
    height: 47.5rem;
    width: 24.4rem;
  }

  .title {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
  .submit-btn{
    width: 20%;
    border-radius: 1px;
    margin-left: 200px;
  }

  .project-pic {
    width: 15rem;
    height: 8rem;
  } 
  .overlay {
    width: 15rem;
    height: 8rem;
  }
} 
